{%extends "layout.html"%}
{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>About Us</title>
  <link rel="stylesheet" href="../static/css/styles.css" />
</head>
<body>
  <section class="hero">
    <div class="hero-text">
      <h1>About Us</h1>
      <p1>
        Foodtruck Finder is a student developed software that aims to inform 
        other students with current information regarding all food trucks in 
        the Drexel and UPenn area.
      </p1>
    </div>

    <div class="about-us-img">
      <img src="../static/images/ourteam.webp" 
           alt="Foodtruck Finder" />
    </div>
  </section>

<section class="team-section">
  <div>
    <h1>Meet Our Team</h1>

    <div class="team-container">
    <div class="team-card">
      <img src="../static/images/david.JPG" class="team-member-img" alt="David">
      <p1><strong>David Liberatore</strong><br>Backend Developer</p1><br>
      <p2>dal366@drexel.edu</p2>
    </div>
    <br>

    <div class="team-card">
      <img src="../static/images/andre.jpeg" class="team-member-img" alt="Andre">
      <p1><strong>Andre Nunes Da Silva</strong><br>Fullstack Developer</p1><br>
      <p2>an3243@drexel.edu</p2>
    </div>

     <div class="team-card">
      <img src="../static/images/alex.jpeg" class="team-member-img" alt="Alex">
      <p1><strong>Alex Troeschel</strong><br>Data Analyst</p1><br>
      <p2>at3698@drexel.edu</p2>
    </div>
    <br>

    <div class="team-card">
      <img src="../static/images/kyle.jpeg" class="team-member-img" alt="Kyle">
      <p1><strong>Kyle Cuba</strong><br>Website Developer</p1><br>
      <p2>kjc366@drexel.edu</p2>
    </div>
    
    </div>
    </div>
</section>
</body>
</html>
{%endblock%}