{%extends "layout.html"%}
{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>About Us</title>
  <link rel="stylesheet" href="../static/css/styles.css" />
</head>
<body>



  <!-- ABOUT SECTION -->
  <section class="hero">
    <div class="hero-text">
      <h1>About Us</h1>
      <p1>
        Foodtruck Finder is a student developed software that aims to inform 
        other students with current information regarding all food trucks in 
        the Drexel and UPenn area.
      </p1>
    </div>

    <div class="hero-image">
      <img src="../static/images/food-truck-ram-trucks-fried-chicken-food-truck-eec039e6846d8ad659e85043d5cafeb6.png" 
           alt="Foodtruck Finder" />
    </div>
  </section>

  <!-- TEAM SECTION -->
  <section class="hero">
    <div class="hero-text">
      <h1>Meet Our Team</h1>

      <img src="../static/images/Image-1.JPG"
      <p1><strong>David Liberatore</strong> — Backend Developer</p1><br>
      <p2>dal366@drexel.edu</p2><br><br>

      <img src="../static/images/IMG_4894.jpeg"
      <p1><strong>Andre Nunes Da Silva</strong> — Fullstack Developer</p1><br>
      <p2>an3243@drexel.edu</p2><br><br>

      <img src="../static/images/IMG_6397.jpeg"
      <p1><strong>Alex Troeschel</strong> — Data Analyst</p1><br>
      <p2>at3698@drexel.edu</p2><br><br>

      <img src="../static/images/120802_002.jpeg"
      <p1><strong>Kyle Cuba</strong> — Website Developer</p1><br>
      <p2>kjc366@drexel.edu</p2>
    </div>
  </section>

  <footer>
    <p>© 2026 Foodtruck Finder All Rights Reserved.</p>
  </footer>

</body>
</html>
{%endblock%}