{% extends “layout.html” %}
<!--Dated: Page containing information on all the food trucks formatted in a table-->
<h1> Hello Food Truck Data Storage </h1>

<table>
    <tr>
        <th> Nanu's Hot Chicken </th>
        <th> Food Items </th>
        <th> Price for Food Items </th>
        <td> | </td>
        <th> Chicken Land </th>
        <th> Food Items </th>
        <th> Price for Food Items </th>
        <td> | </td>
        <th> Pete's Little Lunch Box </th>
        <th> Food Items </th>
        <th> Price for Food Items </th>
        <td> | </td>
        <th> Halal Taste Cart </th>
        <th> Food Items </th>
        <th> Price for Food Items </th>
        <td> | </td>
        <th> Philly Halal Gyro </th>
        <th> Food Items </th>
        <th> Price for Food Items </th>
    </tr>
    <tr>
        <td> Hours: 10am to 2:40am </td>
        <td> #1: Chicken Sandwich with Fries </td>
        <td> $12.99 </td>
        <td> | </td>
        <td> Hours:  </td>
        <td> Chicken Sandwich with Fries </td>
        <td> $14.99 </td>
        <td> | </td>
        <td> Hours: 8am to 2pm </td>
        <td> Food </td>
        <td> Price </td>
        <td> | </td>
        <td> Hours: 9am to 10:30pm </td>
        <td> Lamb Gyro </td>
        <td> $9.00 </td>
        <td> | </td>
        <td> Hours: 9:30am to 6:30pm Mon-Wens and Fri, 9:30am to 12am Thurs </td>
        <td> Chicken Over Rice </td>
        <td> $10.00 </td>
    </tr>
    <tr>
        <td> Location </td>
        <td> #2: 2 Chicken Sandwiches with Fries </td>
        <td> $15.99 </td>
        <td> | </td>
        <td> Location </td>
        <td> 2 Chicken Sandwiches with Fries </td>
        <td> $15.99 </td>
        <td> | </td>
        <td> Location </td>
        <td> Food </td>
        <td> Price </td>
        <td> | </td>
        <td> Location </td>
        <td> Chicken Gyro </td>
        <td> $9.00 </td>
        <td> | </td>
        <td> Location </td>
        <td> Lamb Over Rice </td>
        <td> $10.00 </td>
    </tr>
     <tr>
        <td> Icon </td>
        <td> #3: 2 Chicken Tenders with Fries </td>
        <td> $14.99 </td>
        <td> | </td>
        <td> Icon </td>
        <td> Loaded Chicken Fries </td>
        <td> $14.99 </td>
        <td> | </td>
        <td> Icon </td>
        <td> Food </td>
        <td> Price </td>
        <td> | </td>
        <td> Icon </td>
        <td> Fish Gyro </td>
        <td> $9.00 </td>
        <td> | </td>
        <td> Icon </td>
        <td> Chicken and Lamb Over Rice </td>
        <td> $10.00 </td>
    </tr>
     <tr>
        <td>  </td>
        <td> #4: 1 Chicken Tender + 1 Chicken Sandwich with Fries </td>
        <td> $15.99 </td>
        <td> | </td>
        <td>  </td>
        <td> Chicken Over Rice </td>
        <td> $16.99 </td>
        <td> | </td>
        <td>  </td>
        <td> Food </td>
        <td> Price </td>
        <td> | </td>
        <td>  </td>
        <td> Chicken and Lamb Gyro </td>
        <td> $10.00 </td>
        <td> | </td>
        <td>  </td>
        <td> Falafel Over Rice </td>
        <td> $10.00 </td>
    </tr>
     <tr>
        <td>  </td>
        <td> #5: Loaded Waffle Fries </td>
        <td> $15.99 </td>
        <td> | </td>
        <td>  </td>
        <td> Lamb Over Rice </td>
        <td> $16.99 </td>
        <td> | </td>
        <td>  </td>
        <td> Food </td>
        <td> Price </td>
        <td> | </td>
        <td>  </td>
        <td> Chicken Over Rice </td>
        <td> $11.00 </td>
        <td> | </td>
        <td>  </td>
        <td> Shrimp Over Rice </td>
        <td> $12.00 </td>
    </tr>
     <tr>
        <td>  </td>
        <td> #6: 3 Hot Honey Chicken Tenders with Fries </td>
        <td> $16.49 </td>
        <td> | </td>
        <td>  </td>
        <td> Chicken and Lamb Over Rice </td>
        <td> $15.99 </td>
        <td> | </td>
        <td>  </td>
        <td> Food </td>
        <td> Price </td>
        <td> | </td>
        <td>  </td>
        <td> Lamb Over Rice </td>
        <td> $11.00 </td>
        <td> | </td>
        <td>  </td>
        <td> Chicken Gyro </td>
        <td> $8.00 </td>
    </tr>
     <tr>
        <td>  </td>
        <td> #7: Loaded Cheese Fries </td>
        <td> $15.99 </td>
        <td> | </td>
        <td>  </td>
        <td> Shrimp Loaded Fries </td>
        <td> $16.99 </td>
        <td> | </td>
        <td>  </td>
        <td> Food </td>
        <td> Price </td>
        <td> | </td>
        <td>  </td>
        <td> Shrimp Over Rice </td>
        <td> $11.00 </td>
        <td> | </td>
        <td>  </td>
        <td> Lamb Gyro </td>
        <td> $8.00 </td>
    </tr>
     <tr>
        <td>  </td>
        <td> #8: Hot Chicken Tender Wrap with Fries </td>
        <td> $12.99 </td>
        <td> | </td>
        <td>  </td>
        <td> The Chicken Combo 4pc </td>
        <td> $15.99 </td>
        <td> | </td>
        <td>  </td>
        <td> Food </td>
        <td> Price </td>
        <td> | </td>
        <td>  </td>
        <td> Samosa Chaat Platter </td>
        <td> $11.00 </td>
        <td> | </td>
        <td>  </td>
        <td> Chicken and Lamb Gyro </td>
        <td> $8.00 </td>
    </tr>
     <tr>
        <td>  </td>
        <td> Waffle </td>
        <td> $3.99 </td>
        <td> | </td>
        <td>  </td>
        <td> 1 Chicken Sandwich and 1 Tender </td>
        <td> $15.99 </td>
        <td> | </td>
        <td>  </td>
        <td> Food </td>
        <td> Price </td>
        <td> | </td>
        <td>  </td>
        <td> Chicken and Lamb Over Rice </td>
        <td> $11.00 </td>
        <td> | </td>
        <td>  </td>
        <td> Falafel Sandwich </td>
        <td> $8.00 </td>
    </tr>
     <tr>
        <td>  </td>
        <td> Single Tender </td>
        <td> $6.99 </td>
        <td> | </td>
        <td>  </td>
        <td> 2 Chicken Tenders with Fries </td>
        <td> $14.99 </td>
        <td> | </td>
        <td>  </td>
        <td> Food </td>
        <td> Price </td>
        <td> | </td>
        <td>  </td>
        <td> Falafel Over Rice </td>
        <td> $12.00 </td>
        <td> | </td>
        <td>  </td>
        <td> Shrimp and Chicken Platter </td>
        <td> $12.00 </td>
    </tr>
     <tr>
        <td>  </td>
        <td> Single Sandwich </td>
        <td> $9.99 </td>
        <td> | </td>
        <td>  </td>
        <td> Shrimp Wrap with Loaded Fries </td>
        <td> $15.99 </td>
        <td> | </td>
        <td>  </td>
        <td> Food </td>
        <td> Price </td>
        <td> | </td>
        <td>  </td>
        <td> Fish Over Rice </td>
        <td> $11.00 </td>
        <td> | </td>
        <td>  </td>
        <td> Shrimp and Fish Platter </td>
        <td> $12.00 </td>
    </tr>
     <tr>
        <td>  </td>
        <td> Hot Honey Chicken Sandwich </td>
        <td> $10.99 </td>
        <td> | </td>
        <td>  </td>
        <td> 4pc Chicken Combo </td>
        <td> $14.99 </td>
        <td> | </td>
        <td>  </td>
        <td> Food </td>
        <td> Price </td>
        <td> | </td>
        <td>  </td>
        <td> Chicken Seekh Kebab </td>
        <td> $11.00 </td>
        <td> | </td>
        <td>  </td>
        <td> Shrimp and Gyro Platter </td>
        <td> $12.00 </td>
    </tr>
     <tr>
        <td>  </td>
        <td> Chicken Tender Wrap </td>
        <td> $9.99 </td>
        <td> | </td>
        <td>  </td>
        <td> Fries </td>
        <td> $7.99 </td>
        <td> | </td>
        <td>  </td>
        <td> Food </td>
        <td> Price </td>
        <td> | </td>
        <td>  </td>
        <td> Food </td>
        <td> Price </td>
        <td> | </td>
        <td>  </td>
        <td> Fish and Chicken Platter </td>
        <td> $10.00 </td>
    </tr>
     <tr>
        <td>  </td>
        <td> Hot Honey Chicken Tender Wrap </td>
        <td> $8.99 </td>
        <td> | </td>
        <td>  </td>
        <td> Cheese Fries </td>
        <td> $8.99 </td>
        <td> | </td>
        <td>  </td>
        <td> Food </td>
        <td> Price </td>
        <td> | </td>
        <td>  </td>
        <td> Food </td>
        <td> Price </td>
        <td> | </td>
        <td>  </td>
        <td> Fish and Gyro Platter </td>
        <td> $10.00 </td>
    </tr>
     <tr>
        <td>  </td>
        <td> Waffle Fries </td>
        <td> $7.99 </td>
        <td> | </td>
        <td>  </td>
        <td> Waffle Fries </td>
        <td> $8.99 </td>
        <td> | </td>
        <td>  </td>
        <td> Food </td>
        <td> Price </td>
        <td> | </td>
        <td>  </td>
        <td> Food </td>
        <td> Price </td>
        <td> | </td>
        <td>  </td>
        <td> Falafel and Chicken Platter </td>
        <td> $10.00 </td>
    </tr>
     <tr>
        <td>  </td>
        <td> Nanu's Sauce </td>
        <td> $0.99 </td>
        <td> | </td>
        <td>  </td>
        <td> Coleslaw </td>
        <td> $4.99 </td>
        <td> | </td>
        <td>  </td>
        <td> Food </td>
        <td> Price </td>
        <td> | </td>
        <td>  </td>
        <td> Food </td>
        <td> Price </td>
        <td> | </td>
        <td>  </td>
        <td> Chicken, Fish, and Gyro Platter </td>
        <td> $12.00 </td>
    </tr>
     <tr>
        <td>  </td>
        <td> Coleslaw </td>
        <td> $6.50 </td>
        <td> | </td>
        <td>  </td>
        <td> Side Chicken Sandwich </td>
        <td> $7.99 </td>
        <td> | </td>
        <td>  </td>
        <td> Food </td>
        <td> Price </td>
        <td> | </td>
        <td>  </td>
        <td> Food </td>
        <td> Price </td>
        <td> | </td>
        <td>  </td>
        <td> Fish Over Rice </td>
        <td> $10.00 </td>
    </tr>
     <tr>
        <td>  </td>
        <td> Waffle Sandwich </td>
        <td> $10.99 </td>
        <td> | </td>
        <td>  </td>
        <td> Single Tender </td>
        <td> $6.99 </td>
        <td> | </td>
        <td>  </td>
        <td> Food </td>
        <td> Price </td>
        <td> | </td>
        <td>  </td>
        <td> Food </td>
        <td> Price </td>
        <td> | </td>
        <td>  </td>
        <td> Fish Gyro </td>
        <td> $10.00 </td>
    </tr>
     <tr>
        <td>  </td>
        <td> Fries </td>
        <td> $7.99 </td>
        <td> | </td>
        <td>  </td>
        <td> Strawberry Banana Smoothie </td>
        <td> $6.99 </td>
        <td> | </td>
        <td>  </td>
        <td> Food </td>
        <td> Price </td>
        <td> | </td>
        <td>  </td>
        <td> Food </td>
        <td> Price </td>
        <td> | </td>
        <td>  </td>
        <td> Chicken Salad </td>
        <td> $10.00 </td>
    </tr>
     <tr>
        <td>  </td>
        <td> Cheese Fries </td>
        <td> $7.99 </td>
        <td> | </td>
        <td>  </td>
        <td> Mango Strawberry Smoothie </td>
        <td> $6.99 </td>
        <td> | </td>
        <td>  </td>
        <td> Food </td>
        <td> Price </td>
        <td> | </td>
        <td>  </td>
        <td> Food </td>
        <td> Price </td>
        <td> | </td>
        <td>  </td>
        <td> Gyro Salad </td>
        <td> $10.00 </td>
    </tr>
     <tr>
        <td>  </td>
        <td> Banana Pudding </td>
        <td> $6.99 </td>
        <td> | </td>
        <td>  </td>
        <td> Mango Strawberry Banana Pineapple Smoothie </td>
        <td> $6.99 </td>
        <td> | </td>
        <td>  </td>
        <td> Food </td>
        <td> Price </td>
        <td> | </td>
        <td>  </td>
        <td> Food </td>
        <td> Price </td>
        <td> | </td>
        <td>  </td>
        <td> Falafel Salad </td>
        <td> $10.00 </td>
    </tr>
     <tr>
        <td>  </td>
        <td> Food </td>
        <td> Price </td>
        <td> | </td>
        <td>  </td>
        <td> Mango Strawberry Banana Smoothie </td>
        <td> $6.99 </td>
        <td> | </td>
        <td>  </td>
        <td> Food </td>
        <td> Price </td>
        <td> | </td>
        <td>  </td>
        <td> Food </td>
        <td> Price </td>
        <td> | </td>
        <td>  </td>
        <td> Fish Salad </td>
        <td> $10.00 </td>
    </tr>
     <tr>
        <td>  </td>
        <td> Food </td>
        <td> Price </td>
        <td> | </td>
        <td>  </td>
        <td> Mango Strawberry Pineapple Smoothie </td>
        <td> $6.99 </td>
        <td> | </td>
        <td>  </td>
        <td> Food </td>
        <td> Price </td>
        <td> | </td>
        <td>  </td>
        <td> Food </td>
        <td> Price </td>
        <td> | </td>
        <td>  </td>
        <td> Shrimp Salad </td>
        <td> $12.00 </td>
    </tr>

<!--Generic Block-->
     <tr>
        <td>  </td>
        <td> Food </td>
        <td> Price </td>
        <td> | </td>
        <td>  </td>
        <td> Food </td>
        <td> Price </td>
        <td> | </td>
        <td>  </td>
        <td> Food </td>
        <td> Price </td>
        <td> | </td>
        <td>  </td>
        <td> Food </td>
        <td> Price </td>
        <td> | </td>
        <td>  </td>
        <td> Food </td>
        <td> Price </td>
    </tr>
</table>