{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Home</title>
</head>
<body>
    <nav>
        <div class="logo">Foodtruck Finder</div>
        <ul class="nav-links">
            <li><a href="{{ url_for('home')}}">Home</a></li>
            <li><a href="{{ url_for('map_page')}}">Map</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
        </ul>
    </nav>


    <div class="hero">
        <div class="hero-text">
        <h1>
            <u>Welcome</u> <span class='wave'>👋</span>
        </h1>

        <p1>Have you ever wanted to find a 
            <span class="span-container">
                <span class="drexel-pin"><b>Drexel</b></span>
            </span>
            <b class="highlight">
                foodtruck</b>, but <lol class="strike">google or apple maps didn't offer?</lol> <span class="nervous">😬</span></p1>
        <br><br><p2>Well, we have a <u class="underline_class">solution</u>.</p2></br></br>
        
        <form action="{{ url_for('map_page')}}">
        <button type="submit" class="buttonc fill-btn">
            <span>Get Started</span>
        </button>
        </form>
        </div>
     
    <div class="hero-image">
        <img src="../static/images/food-truck-ram-trucks-fried-chicken-food-truck-eec039e6846d8ad659e85043d5cafeb6.png" alt="placeholder">
    </div>
</div>
<div>
</div>

</body>
</html>
{% endblock %}