{%extends "layout.html"%}
{% block content %}
    <div class="hero">
        <div class="hero-text">
        <h1>
            <u>Welcome</u> <span class='wave'>👋</span>
        </h1>

        <p1>Have you ever wanted to find a 
            <span class="span-container">
                <span class="drexel-pin"><b>Drexel</b></span>
            </span>
            <b class="highlight">
                foodtruck</b>, but <lol class="strike">google or apple maps</lol> didn't offer it? <span class="nervous">😬</span></p1>
        <br><br><p2>Well, we have a <u class="underline_class">solution</u>.</p2></br></br>
        
        <form action="{{ url_for('map_page')}}">
        <button type="submit" class="buttonc fill-btn">
            <span>Get Started</span>
        </button>
        </form>
        </div>
     
    <div class="hero-image">
        <img src="../static/images/food-truck-ram-trucks-fried-chicken-food-truck-eec039e6846d8ad659e85043d5cafeb6.png" alt="placeholder">
    </div>
</div>
<div>
</div>
{% endblock %}