{%extends "layout.html"%}
{%block content%}
<!--
This is the menu panel that is used for the menu
It is invisible at first, and then become visible when
you ask for it when you are on the food truck
-->
<!--
The menu panel makes a container for the side panel
-->
<div id="menu-panel">
    <!--
    The close menu button is an x for the user to press
    -->
  <button id="close-menu">✕</button>
    <!--
    This makes an empty div to later put the HTML in later
    -->
  <div id="menu-content"></div>
</div>
<div id="stop-button-menu" class="overlay">
    <button id="stop-button">Stop Tracking</div>
</div>

<div id="routing-instructions">Select a truck to start navigating...</div> <!--Head div, shows the little pill on the bottom routing-instructions is the class name-->
<div id="map"></div>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script> <!-- Import leaflet -->
    <script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script> <!-- Import open source routing -->
    <!-- Refactored Code into single JS files for better & cleaner code execution -->
    <script src="{{ url_for('static', filename='js/map.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/routing.js') }}"></script>
    <script src="{{ url_for('static', filename='js/functions/menu.js') }}"></script>
    <script src="{{ url_for('static', filename='js/functions/calculator.js') }}"></script>
    <script src="{{ url_for('static', filename='js/functions/location.js') }}"></script>    
{%endblock%}
